[Unit]
Description=Gunicorn for NuviaButik Django Project
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/nuviabutik
Environment="DJANGO_SETTINGS_MODULE=production_settings"
EnvironmentFile=/var/www/nuviabutik/.env
ExecStart=/var/www/nuviabutik/venv/bin/gunicorn stoktakip.wsgi:application --bind 0.0.0.0:8000 --workers 3
Restart=always

[Install]
WantedBy=multi-user.target
